<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.homework.mapper.BoardMapper">
 	
 	<!-- 비회원 글 등록하기 -->
 	<insert id="insertBoard">
 	  <selectKey keyProperty="boardidx" order="BEFORE" resultType="int">
         select board_seq.nextval from dual
      </selectKey>
      insert into tbl_board (boardidx,useridx,title,contents,nicname,boardpassword)
      values
      (#{boardidx},#{useridx},#{title},#{contents},#{nicname},#{boardpassword})
 	</insert>
 	
 	<!-- 회원글등록 -->
 	<insert id="loginInsertBoard">
 	  <selectKey keyProperty="boardidx" order="BEFORE" resultType="int">
         select board_seq.nextval from dual
      </selectKey>
      insert into tbl_board (boardidx,useridx,title,contents,nicname)
      values
      (#{boardidx},#{useridx},#{title},#{contents},#{nicname})
 	</insert>
 	
 	<!-- 게시물 정보 가져오기 -->
 	<select id="getBoardVo" resultType="com.homework.domain.BoardVO">
 		select * 
 		from tbl_Board
 		where boardidx=#{boardidx}
 	</select>
 	
 	<!-- 글 수정하기 -->
 	<update id="modifyPro">
 		update tbl_board set title=#{title},contents=#{contents},nicname=#{nicname}
 		where boardidx=#{boardidx}
 	</update>	
 	
 	<!-- 글 삭제하기 -->
 	<delete id="deletepro">
 		delete from tbl_board where boardidx=#{boardidx}
 	</delete>
 	
 	<!-- 비회원 댓글 등록하기 -->
 	<insert id="insertReply">
 		<selectKey keyProperty="replyidx" order="BEFORE" resultType="int">
        	 select reply_seq.nextval from dual
        </selectKey>
 		insert into tbl_reply (replyidx,boardidx,useridx,nicname,replypassword,replycontents)
        values
        (#{replyidx},#{boardidx},#{useridx},#{nicname},#{replypassword},#{replycontents})
 	</insert>
 	
 	<!-- 회원 댓글 등록하기 -->
 	<insert id="logininsertReply">
 		<selectKey keyProperty="replyidx" order="BEFORE" resultType="int">
        	 select reply_seq.nextval from dual
        </selectKey>
 		insert into tbl_reply (replyidx,boardidx,useridx,nicname,replycontents)
        values
        (#{replyidx},#{boardidx},#{useridx},#{nicname},#{replycontents})
 	</insert>
 	
 	<!-- 게시판 view 댓글 불러오기 -->
 	<select id="getBoardReply" resultType="com.homework.domain.ReplyVO">
 		select * from tbl_reply 
 		where boardidx=#{boardidx}
 		order by replyregdate asc
 	</select>
 	
 	<!-- 댓글 삭제하기 -->
 	<delete id="replydeletepro">
 		delete from tbl_reply where replyidx=#{replyidx}
 	</delete>
 	
 	<!-- 댓글 개수 -->
 	<select id="cntreply" resultType="int">
 		select count(*) from tbl_reply
 		where boardidx=#{boardidx}
 	</select>
 	
 	<!-- 댓글 정보 가져오기 -->
 	<select id="getReplyVO" resultType="com.homework.domain.ReplyVO">
 		select * 
 		from tbl_Reply
 		where replyidx=#{replyidx}
 	</select>
</mapper>
